body {
    font-family: "Avenir Next";
  } 

  li {
    list-style: none;
}

/* Header menu */

header{
    background-color: rgba(34, 49, 52, 0.95);
    color: white;
    height: 65px;
    width: 100%;
    z-index: 10;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo{
    float: left;
    font-size: 24px;
    padding: 0px 40px;
    letter-spacing: 8px;
    font-weight: bold;
    margin-right: 20px;
    height: 65px;
    line-height: 65px;
}

.menu li {
    float: left;
    padding-right: 30px;
}

.menu {
    height: 65px;
    line-height: 65px;
}

/* Section 1 -top wrapper */

.top-wrapper{
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

.top-wrapper h1{
    font-size: 65px;
    letter-spacing: 3px;
    color:rgba(34, 49, 52, 0.95);
}

.top-wrapper p{
    font-weight: 200;
    font-size: 30px;
}

.top-wrapper img{
    width: 20%;
}

.top-wrapper span{
    color: yellow;
}

/* Section 2 - Tentang Kami */

.tentang {
    background-color: rgba(215, 220, 221, 0.95);
    padding: 30px 0px;
    text-align: center;
}

.tentang h2{
    font-size: 40px;
    font-weight: bold;
}

.tentang p{
    font-size: 18px;
    font-weight: 220;
}

/* Section 3 - Projects (images) */

.projects {
    padding: 60px 0px;
    text-align: center;
}

.images{
    display: flex;
    justify-content: space-evenly;
    
}

.projects img{
    width: 200px;
    margin: 15px 0px;
    box-shadow: 5px 5px rgba(198, 195, 195, 0.1);
    border-radius: 5px;
}

.list-text{
    display: flex;
    
}

.list-text li{
    flex: auto;
}

.projects h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Section 4 - Form */

.formulir{
    padding: 60px 0px;
    background-color: rgba(178, 178, 178, 0.1);
    width: 100%;
    margin: 0 auto;
}

.email input{
    padding: 15px 250px;
    border-radius: 8px;
    border: none;
    box-shadow:  0px 2px rgba(198, 195, 195, 0.1);
    color: lightgrey;
}

