body {
    font-family: "Avenir Next";
  } 

li {
    list-style: none;
}

/* Header menu */

header{
    background-color: rgba(34, 49, 52, 0.95);
    color: white;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo{
    float: left;
    font-size: 24px;
    letter-spacing: 8px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    margin-right: 60px;
}

.menu li {
    float: left;
    padding-right: 30px;
}

.menu {
    height: 65px;
    line-height: 65px;
}

/* Section 1 -top wrapper */

.top-wrapper{
    text-align: center;
    background-color: white;
    padding-bottom: 60px;
    padding-top: 20px;
}

.top-wrapper h1{
    font-size: 65px;
    letter-spacing: 3px;
    color:rgba(34, 49, 52, 0.95);
    padding-top: 60px;
    margin-bottom: 0px;
}

.top-wrapper p{
    font-weight: 200;
    font-size: 30px;
}

.top-wrapper img{
    width: 20%;
}

.top-wrapper span{
    color: yellow;
}

/* Section 2 - Tentang Kami */

.tentang {
    background-color: rgba(215, 220, 221, 0.95);
    padding: 30px 0px;
    text-align: center;
}

.tentang h2{
    font-size: 40px;
    font-weight: bold;
}

.tentang p{
    font-size: 18px;
    font-weight: 220;
}

/* Section 3 - Projects (images) */

.projects {
    padding: 60px 0px;
    text-align: center;
}

.images{
    display: flex;    
    justify-content: space-evenly;
}

.projects img{
    width: 25%;
    margin: 25px 0px;
    box-shadow: 5px 5px rgba(198, 195, 195, 0.1);
    border-radius: 5px;
}

.proyek-list{
    display: flex;
}

.proyek-list li{
    flex: auto;
}

.projects h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Section 4 - Form */

.formulir{
    padding: 60px 0px;
    background-color: rgba(178, 178, 178, 0.1);
    width: 100%;
 
}

.email{
    width: 50%;
    padding: 15px 15px;
    border-radius: 8px;
    border: none;
    box-shadow:  0px 2px rgba(198, 195, 195, 0.1);
    color: rgb(197, 197, 197);
    display: block;
    margin: 0 auto;
    
}

.message {
    width: 50%;
    padding: 15px 15px;
    border-radius: 8px;
    border: none;
    box-shadow:  0px 2px rgba(198, 195, 195, 0.1);
    color: rgb(197, 197, 197);
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.button {
    margin-top: 32px;
    padding: 15px 150px;
    background-color: rgb(249, 245, 132);
    border: none;
    box-shadow:  0px 2px rgba(198, 195, 195, 0.1);
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.formulir h2{
    text-align: center;
}

/* footer */

footer{
   height: 90px;
   padding-bottom: 60px;
   background-color: rgb(117, 116, 116);
   margin-bottom: 0px;
}

.footer-logo{
    float: left;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    margin-right: 60px;
    color: white;
}

.footer-menu{
    float: right;
}

.footer-menu li{
    color: white;
    padding-top: 15px;
    font-size: 14px;
}


